body {
 background-color: rgb(173,216,230);
}

p {
 margin-top: -1px;
}

a:link {
 color: black;
 text-decoration: none;
}

a:visited {
 color: rgb(100,100,100);
 text-decoration: none;
}

a:hover {
 color: black;
 text-decoration: underline;
}

#a {
 margin-left: 50px
}

#b {
 margin-left: 75px
}

.a {
 margin-left: 177px
}

.b {
 margin-left: 130px
}

.c {
 margin-left: 63px
}

.d {
 margin-left: 64px
}

.e {
 margin-left: 126px
}
