::selection {
 color: black;
 background: rgb(255,140,0)
}

body {
 background-color: rgb(173,216,230);
}

p {
 margin-top: -1px;
}

a:link {
 color: black;
 text-decoration: none;
}

a:visited {
 color: rgb(100,100,100);
 text-decoration: none;
}

a:hover {
 color: black;
 text-decoration: underline;
}

#a {
 padding-left: 50px
}

#b {
 padding-left: 150px
}

#c {
 font-size: 8pt;
 padding-left: 300px
}
